<div class="container coffee-section">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">It boils down to <strong>CRAFTSMANSHIP</strong></h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="row" style="padding:1em 0;">
    <div class="box">
      <div class="col-md-12">
        <h3>OUR SOURCING</h3>
        <p>The origin. That's where all the answers are. The altitude, the rainfall, the temperature and human ability all bind together to make the ideal coffee cherry. But it doesn't end there. To understand coffee and its intricate ecosystem you must go down to the basics: the farm. <br><br>We visit and work in every farm we intend to source before purchasing their coffee. We look at processing, drying, agro conditions, cherry picking, lot grouping and of course, talent. We take pride in tracing craftsmanship. <br><br>All of our coffee is traceable down to the farmer that picked the fruit.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-md-4">
        <%= image_tag 'demente.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'cupping.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'little_girl.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row" style="padding:2em 0;">
    <div class="box">
      <div class="col-md-12">
        <h3>OUR COFFEES</h3>
        <p>There is a vast world beyond that sweet taste we crave from the minute we open our eyes. From the way it is dry-processed to the time and rate at which it needs to be filtered to the size of its grounds. Coffee is no longer a commodity. It is a delicacy. <br><br>We like to think that we are as close to origin as you can get. To enhance that experience, we only source beans that have a connection to us. We pick, process, roast and filter in a way that taps each one of those selected profiles. For now, Panama is our source. <br><br>In the coffee lab, we are not always roasting, we like to experiment with dosage, grinding, water temperature and agitation to manipulate the final product and to further develop our understanding of the bean.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-md-6">
        <%= image_tag 'mano.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="col-md-6">
        <%= image_tag 'drying_coffee.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row" style="padding:2em 0;">
    <div class="box">
      <div class="col-md-12">
        <h3>OUR ROASTING</h3>
        <p>We have developed an origin-tailored coffee roasting approach in order to push each bean's potential in an 800 aroma/flavor universe. <br><br>Our weekly schedule is divided into: roasting and cupping. Two days per week dedicated to each. The key to roasting incredible coffee lies in discipline, practice and innovation. The cupping table is our biggest critic. <br><br>We employ micro roasting logistics in order to work with small batches and manage the sourcing, roasting and client-selection to the smallest detail.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <div class="col-md-4">
        <%= image_tag 'pinhalense.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'joanna.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="col-md-4">
        <%= image_tag 'felipe_maquinas.jpg', :class => "img-responsive img-border-left" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
   <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="call_to_action">
        <h2><a href="/shop">COME AND <strong>VISIT OUR STORE</strong>. IT'S FULL OF DELICIOUS COFFEE!</a></h2>
      </div>
    </div>
  </div>
  <hr>
</div>