<div class="container">
  <div class="row" id="coffees">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class='wrapper'>  
        <%= image_tag 'elida.jpg', :class => "img-responsive" %>
      </div>  
      
      <div class="portfolio-caption">
        <h4>Elida Estates<span style="float:right;">18 €</span></h4>
        <p class="text-muted">CATUAI NATURAL</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          BUY NOW
        </button>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item"> 
      <div class='wrapper'>  
        <%= image_tag 'fernandez.jpg', :class => "img-responsive" %>
      </div>  
      
      <div class="portfolio-caption">
        <h4>Cafetalera Fernandez<span style="float:right;">15 €</span></h4>
        <p class="text-muted">TYPICA WASHED</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          BUY NOW
        </button>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class='wrapper'>  
        <%= image_tag 'jaramillo.jpg', :class => "img-responsive" %>
      </div>  
      
      <div class="portfolio-caption">
        <h4>Finca Jaramillo<span style="float:right;">21 €</span></h4>
        <p class="text-muted">GEISHA NATURAL</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          BUY NOW
        </button>
      </div>
    </div>
  </div>
  <div class="row" id="coffees">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class='wrapper'>  
        <%= image_tag 'deborah.jpg', :class => "img-responsive" %>  
      </div> 
      
      <div class="portfolio-caption">
        <h4>Elida Estates<span style="float:right;">18 €</span></h4>
        <p class="text-muted">CATUAI WASHED</p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            BUY NOW
          </button>
      </div>
    </div>
  </div>
</div>
<%= render partial: "layouts/purchase_modal" %>

<script>
    $('div.description').each(function(){  
        //...set the opacity to 0...  
        $(this).css('opacity', 0);  
        //..set width same as the image...  
        $(this).css('width', $(this).siblings('img').width());  
        //...get the parent (the wrapper) and set it's width same as the image width... '  
        $(this).parent().css('width', $(this).siblings('img').width());  
        //...set the display to block  
        $(this).css('display', 'block');  
    });  
    
    $('div.wrapper').hover(function(){  
        //when mouse hover over the wrapper div  
        //get it's children elements with class description '  
        //and show it using fadeTo  
        $(this).children('.description').stop().fadeTo(500, 0.7);  
    },function(){  
        //when mouse out of the wrapper div  
        //use fadeTo to hide the div  
        $(this).children('.description').stop().fadeTo(500, 0);  
    });  

</script>
